body {
    display: flex;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #b3e6cc;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.filter {
    margin-bottom: 20px;
}

.table-container {
    max-height: 40vh; /* Фиксированная высота */
    overflow-y: auto; /* Прокрутка по вертикали */
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

button.cancel {
    background-color: #f44336;
}

button.cancel:hover {
    background-color: #d32f2f;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #005f73;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.notification {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.notification.hide {
    opacity: 0;
}