<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление банкоматами</title>
    <link rel="stylesheet" href="static/css/atmcss.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="header__img" src="static/img/turtles.png" alt="черепашки" width="40" height="40">
            <span class="fs-4">ATM service</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="/admin" class="nav-link">Администрирование</a></li>
            <li class="nav-item"><a href="/atm" class="nav-link">Банкоматы</a></li>
            <li class="nav-item"><a href="/maps" class="nav-link">Карты</a></li>
            <li class="nav-item"><a href="about" class="nav-link">О нас</a></li>
        </ul>
    </header>

    <main class="container">
        <h1 class="text-center my-4">Добро пожаловать на сайт ATM service!</h1>

        <section>
            <h1>Основные разделы</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Администрирование</h5>
                            <p class="card-text">Добавление и удаление механиков, машин инкассации.</p>
                            <a href="/admin" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Информация о банкоматах</h5>
                            <p class="card-text">Управление банкоматами, просмотр их статусов, состояния. Также функция добавления банкомата.</p>
                            <a href="/atm" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Карты</h5>
                            <p class="card-text">Построение оптимальных маршрутов для инкассации и механиков.</p>
                            <a href="/maps" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5">
            <h2>О сайте</h2>
            <p>Этот сайт предназначен для обслуживания банкоматов, позволяет анализировать данные, предоставляет удобную работу с ними, а также оптимизировать маршруты для инкассации и механиков.</p>
            <p>Мы предоставляем информацию о состоянии банкоматов, возможных сбоях и необходимом обслуживании, а также реализуем решение задач с оптимизацией маршрутов для обслуживания.</p>
        </section>

        <section class="mt-5">
            <h2>Функциональность</h2>
            <ul>
                <li>Чтение и обработка данных с банкоматов.</li>
                <li>Анализирование данных банкоматов, инкассации и обслуживания.</li>
                <li>Оптимизация маршрутов для механиков и машин инкассации.</li>
                <li>Отчеты по состоянию банкоматов, их статусам и ошибкам.</li>
            </ul>
        </section>
    </main>


    <script src="static/js/atmscripts.js"></script>
</body>
</html>
