<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на наш сайт!</h1>
        <nav>
            <ul>
                <li><a href="/admin">Администрирование</a></li>
                <li><a href="/atm">Банкоматы</a></li>
                <li><a href="/maps">Карты</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <h2>Администрирование</h2>
        <p>Админ панель для управления данными.</p>


        <h2>Банкоматы</h2>
        <p>Отчет о данных банкоматов.</p>


        <h2>Карты</h2>
        <p>Управления картами для обслуживания банкоматов.</p>
    </main>

    <footer>
        <p>&DoubleLongRightArrow; Черепашки ниндзя &DoubleLongLeftArrow;</p>
    </footer>
</body>
</html>
